body{
	margin:0;
	padding:0;
	text-align: left;
	font-size: 16px;
	padding-top: 100px;
	position: relative;
	width:100%;
	background: #000000;
	min-height: calc(100vh - 100px);
	height:100%;
	font-family: 'Montserrat', sans-serif;
    background-image: url(../assets/img/background_image_main.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.background_image {}

body:before {content: '';position: fixed;left: 0;top: 0;right: 0;height: 100px;background: rgb(0, 0, 0);border-bottom: 1px solid #42a1c7;z-index: 20;}

.logo {}

body > h1, body > h2 {
    max-width: 690px;
    width: calc(95% - 48px);
    margin: 0 auto;
}

/*body .background_image {background-image: url(../assets/img/background_image_main.jpg);position: fixed;left: 0;top: 0;right: 0;bottom: 0;height: 100vh;width: 100vw;background-size: cover;background-position: center center;background-repeat: no-repeat;}
*/
body .logo {}

body .logo {
    background-image: url(../assets/img/logo.png);
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px!important;
    height: 63px;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 100;
}

body > h1, body > h2 {
    background: transparent;
    position: relative;
    font-weight: 100;
    z-index: 2;
    padding: 12px 24px;
    z-index: 10;
    color: #FFFFFF;
}

body > h1 {
    padding-top: 52px;
    font-size: 39px;
    line-height: 52px;
    text-align: center;
}

body > h2:last-of-type {
    padding-bottom: 22px;
}

.social-text{
    color: white;
    text-align: center;
}

.center-logo {
    text-align: center;
    margin-top: 20px;
}

.center-logo img{
    width: 120px;
}

.contact-section{
    color: white;
    text-align: center;
}

.contact-section a{
    color:white;
    text-decoration: none;
}


section.container {
    width: 690px;
    margin: 0 auto;
}

body > h2 {
    font-size: 17px;
    line-height: 24px;
    text-align: Center;
}

body > div:last-child {
    max-width: 738px;
    width: calc(95% - 48px);
    margin: 0 auto;
    position: relative;
    z-index: 10;
    text-align: center;
}

body > div:last-child a {
    text-align: right;
    display: inline-block;
    margin-top: 14px;
    cursor: pointer;
    color: #42a1c7;
    z-index: 10;
    text-transform: Uppercase;
    background: #ffffff;
    font-size: 12px;
    border: 2px solid #FFFFFF;
    padding: 12px 14px 10px;
    margin-bottom: 40px;
}


body > div:last-child a:hover {
    background: #ffffff;
    color: #42a1c7;
}

/*------------------------------------*\
    SUBMIT FORM
\*------------------------------------*/

div.brand-signup h2,
div.brand-signup p {
    max-width: 690px;
    width: calc(95% - 48px);
    text-align: center;
    margin: 20px auto;
    color:#fff;
}
div.brand-signup h2 {
    text-transform: uppercase;
}
div.brand-signup p {
    font-weight: lighter;
    line-height: 1.5em;
}
form#contact-form {
    margin: 40px auto;
    max-width: 790px;
    text-align: center;
}

form#contact-form legend {
    color:#fff;
    font-size: 19px;
    line-height: 24px;
    text-align: Center;
}

div.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

input#fname,
input#lname {
    height:34px;
    width:150px;
    padding: 0;
    padding-left: 10px;
    text-transform: uppercase;
}

input#email {
    height:34px;
    width:200px;
    padding: 0;
    padding-left: 10px;
    text-transform: uppercase;
}

button#submit {
    border: none;
    padding-top: 10px;
    padding-bottom: 13px;
    width: 100px;
    background: #42a1c7;
    color:#fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}


/*------------------------------------*\
    MEDIA QUERIES
\*------------------------------------*/


@media screen and (max-width:690px){
	body > h1{
    font-size: 22px;
    line-height: 25px;
}
	body > h2{
    font-size: 12px;
    line-height: 20px;
}
}

@media screen and (max-width:480px){
	body .background_image{
		background-image: url(../assets/img/background_image.jpg);
	}
	body .background_image:after{
		opacity:0;
	}
}